<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site DB web UI</title>
</head>

<body bgcolor="#BCF9FF">
    <h1>Sign up:</h1>
        <form style="width:30px" action="http://127.0.0.1:5000/signup" method="post">
            <p>User: <input type="text" name="name" required/> </p>
            <p>Password: <input type="password" name="password" required/> </p>
            <p>ID: <input type="text" name="uid" required/> </p>
            <br>
            <button type="submit"> Register! </button>
        </form>
</body>
</html>